.btn-default {
	border: 1px solid $border-color;
	background-color: $white;
}

.sidebar-nav {
	height: calc(100% - 53.6px);
}

.post-content > img,
.post-content > p > img,
.post-content > div > img {
	max-width: 100%;
	max-height: 100%;
}
